In [201]:
import pandas as pd
import numpy as np

In [202]:
data = pd.read_csv('../data/FULL.csv', sep=';', index_col=0).reset_index(drop=True)

In [203]:
data.head()

,FIPE_link,tipoc,carroceria,ano,tpag,preco,tipo,anomod,FIPE,download_date,...,estado,cor,cidade,final_placa,km,cambio,idk,modelo,codigo,ativo
0,http://www.webmotors.com.br/tabela-fipe/sp/vol...,usado,Hatchback,2008/2009,det_anunc_c,23900,concessionaria,2009.0,"R$ 24.841,00",2016-08-04 10:21:07,...,Sao Paulo (SP),Prata,Campinas,1,78.200,Manual,NaN,FOX,17498357.0,1
1,http://www.webmotors.com.br/tabela-fipe/sc/vol...,usado,Hatchback,2009/2009,det_anunc_c,18900,loja,2009.0,"R$ 18.499,00",2016-08-04 10:21:09,...,Santa Catarina (SC),Prata,Sombrio,8,89.000,Manual,NaN,GOL,15487440.0,1
2,http://www.webmotors.com.br/tabela-fipe/sp/for...,usado,Hatchback,2010/2011,det_anunc_c,18900,loja,2011.0,"R$ 16.953,00",2016-08-04 10:21:11,...,Sao Paulo (SP),Preto,Lorena,2,60.000,Manual,NaN,KA,17482056.0,1
3,http://www.webmotors.com.br/tabela-fipe/pr/fia...,usado,Seda,2005/2005,det_anunc_c,18900,loja,2005.0,"R$ 16.670,00",2016-08-04 10:21:13,...,Parana (PR),Prata,Londrina,0,100.000,Manual,NaN,SIENA,17482399.0,1
4,http://www.webmotors.com.br/tabela-fipe/sp/mit...,usado,Utilitario esportivo,2002/2002,det_anunc_c,18900,loja,2002.0,0,2016-08-04 10:21:15,...,Sao Paulo (SP),Preto,Mogi das Cruzes,2,205.734,Manual,NaN,PAJERO TR4,17489072.0,1

### FIPE link

In [204]:
len(data.FIPE_link.unique())

54382

### Tipo

In [205]:
data.tipoc.value_counts()

usado    185778
Name: tipoc, dtype: int64

### Carroceria

In [206]:
data.carroceria.value_counts()

Hatchback               63776
Seda                    46562
Utilitario esportivo    32790
Picape                  17869
Minivan                 11306
Perua/SW                 5581
Cupe                     3133
Van/Utilitario           3070
Conversivel              1624
Buggy                      67
Name: carroceria, dtype: int64

### Ano

In [207]:
data.ano.value_counts()

2013/2014    16275
2012/2013    15857
2011/2012    15548
2014/2015    13073
2010/2011    12469
2013/2013    10207
2009/2010     8786
2012/2012     8768
2011/2011     8596
2014/2014     7891
2010/2010     6759
2015/2015     6312
2008/2009     6138
2008/2008     6077
2015/2016     4966
2009/2009     4872
2007/2008     4774
2007/2007     3393
2006/2007     2867
2006/2006     2445
2005/2005     2078
2005/2006     1663
2004/2004     1440
2004/2005     1294
2003/2003     1087
2001/2001      944
2016/2016      872
2002/2002      815
2003/2004      765
2002/2003      733
             ...
1953/1953        4
1984/1985        4
1928/1928        4
1961/1962        4
1947/1947        4
1955/1955        4
1956/1956        3
1969/1970        3
1972/1973        3
1947/1948        2
1928/1929        2
1950/1951        2
1950/1950        2
1948/1948        2
1970/1971        2
1965/1966        2
1931/1931        2
1963/1964        2
1971/1972        1
1958/1959        1
1951/1952        1
2009/2008        1
1952/1953        1
1966/1967        1
1949/1949        1
1927/1928        1
1938/1939        1
1930/1930        1
1954/1954        1
1956/1957        1
Name: ano, dtype: int64

### tpag

In [208]:
data.tpag.value_counts()

det_anunc_c    185778
Name: tpag, dtype: int64

### Preco

In [209]:
data.preco = data.preco.str.replace(',','.').apply(float).fillna(0)

In [210]:
data.preco.describe()

count    1.892090e+05
mean     5.737618e+04
std      9.840549e+05
min      0.000000e+00
25%      2.490000e+04
50%      3.599000e+04
75%      5.650000e+04
max      2.222222e+08
Name: preco, dtype: float64

### Tipo

In [211]:
data.tipo.value_counts()

loja              111826
pessoafisica       50316
concessionaria     23636
Name: tipo, dtype: int64

### Ano Modelo

### FIPE

In [212]:
fipe = data.FIPE.str.replace('R\\$ ','')
fipe = fipe.str.strip()
fipe = fipe.str.replace('.','')
fipe = fipe.str.replace(',','.')
fipe = fipe.apply(float)

In [213]:
data.FIPE = fipe.fillna(0)
data.FIPE.describe()

count    1.892090e+05
mean     3.754542e+04
std      4.905714e+04
min      0.000000e+00
25%      1.851400e+04
50%      2.986500e+04
75%      4.531500e+04
max      3.232470e+06
Name: FIPE, dtype: float64

### Download Date

In [214]:
data.download_date = pd.to_datetime(data.download_date)

### FIPE data

In [215]:
data.FIPE_data = pd.to_datetime(data.FIPE_data)

### Portas

In [216]:
data.portas.value_counts()

4.0    158478
2.0     23769
3.0      2215
0.0      1316
Name: portas, dtype: int64

### Combustível

In [217]:
data.combustivel.value_counts()

Gasolina e alcool                          112906
Gasolina                                    57723
Diesel                                      13345
Alcool                                        790
Gasolina, alcool e gas natural                449
Gasolina e gas natural                        369
Gas natural                                    81
Gasolina e eletrico                            49
Alcool e gas natural                           36
Gasolina, alcool, gas natural e benzina        28
Gasolina/Alcool                                 2
Name: combustivel, dtype: int64

### Marca

In [218]:
data.marca.value_counts()

VOLKSWAGEN       29605
CHEVROLET        26171
FIAT             24160
FORD             19557
RENAULT          10913
HYUNDAI           9543
TOYOTA            8191
HONDA             7943
MITSUBISHI        6729
CITROËN           6006
PEUGEOT           5307
BMW               4874
MERCEDES-BENZ     4058
KIA               3764
NISSAN            3398
AUDI              2862
LAND ROVER        2653
JEEP              1154
VOLVO             1114
PORSCHE           1076
SUZUKI             887
MINI               847
DODGE              805
CHERY              462
CHRYSLER           451
SUBARU             450
JAC                435
TROLLER            350
SSANGYONG          234
LIFAN              180
                 ...
MORRIS               2
CHANGAN              2
LANDWIND             2
JPX                  2
WAKE                 2
DELOREAN             2
FERCAR BUGGY         2
CHAMONIX             2
GREAT WALL           1
SELVAGEM             1
KAISER               1
CBT                  1
OPEL                 1
AUSTIN-HEALEY        1
FOTON                1
PACKARD              1
DACON                1
HUDSON               1
BEACH                1
DKW-VEMAG            1
GEO                  1
DATSUN               1
MCLAREN              1
ICOMDA               1
STUDEBAKER           1
MIURA                1
ISUZU                1
SAAB                 1
ASIA                 1
WHIPPET              1
Name: marca, dtype: int64

### Estado

In [219]:
data.estado.value_counts()

Sao Paulo (SP)              95877
Santa Catarina (SC)         15526
Minas Gerais (MG)           13723
Parana (PR)                 13625
Rio de Janeiro (RJ)         12605
Rio Grande do Sul (RS)       7471
Distrito Federal (DF)        5658
Goias (GO)                   3229
Rio Grande do Norte (RN)     3106
Bahia (BA)                   2301
Mato Grosso do Sul (MS)      2291
Pernambuco (PE)              2216
Espirito Santo (ES)          1739
Ceara (CE)                   1684
Piaui (PI)                    698
Paraiba (PB)                  665
Mato Grosso (MT)              611
Para (PA)                     559
Sergipe (SE)                  519
Maranhao (MA)                 510
Amazonas (AM)                 442
Rondonia (RO)                 330
Alagoas (AL)                  157
Tocantins (TO)                 92
Acre (AC)                      69
Roraima (RR)                   65
Amapa (AP)                     10
Name: estado, dtype: int64

### Cor

In [220]:
data.cor.value_counts()

Prata         56688
Preto         51497
Branco        35857
Cinza         17260
Vermelho      11116
Azul           4574
Verde          3282
Bege           1600
Amarelo         972
Marrom          769
Vinho           714
Dourado         647
Laranja         420
Indefinida      193
Bronze           79
Roxo             31
prata            29
preto            15
Rosa             12
branco            8
cinza             6
verde             3
bege              2
marrom            2
laranja           1
azul              1
Name: cor, dtype: int64

### Final da placa

In [221]:
data.final_placa = data.final_placa.fillna(11).replace('N/I',11).apply(float)
data.final_placa.value_counts()
### 11 == NA

0.0     32744
5.0     18408
4.0     17610
1.0     17394
3.0     17331
8.0     17253
7.0     17076
6.0     16990
9.0     15631
2.0     15323
11.0     3449
Name: final_placa, dtype: int64

### KM

In [223]:
km = data.km.str.strip()
km = km.str.replace('N/I','0')
km = km.str.replace('.','')
km = km.str.replace(',','.')

In [226]:
data.km =km
data.km = data.km.fillna(0).apply(float)
data.ix[data.km<1000, 'km'] = data.ix[data.km<1000, 'km'].fillna(0)*1000

In [227]:
data.km.describe()

count    1.892090e+05
mean     4.601419e+05
std      2.392523e+07
min      0.000000e+00
25%      3.077600e+04
50%      5.900000e+04
75%      9.062500e+04
max      2.147484e+09
Name: km, dtype: float64

### Cambio

In [230]:
data.cambio.value_counts()

Manual                   109235
Automática                70047
Automática Sequencial      5283
CVT                         769
Semi-automática             442
Name: cambio, dtype: int64

In [232]:
data.modelo.value_counts()

GOL                          6651
PALIO                        6261
FIESTA                       5251
UNO                          4134
FOX                          3983
ECOSPORT                     3707
COROLLA                      3661
SANDERO                      3629
CIVIC                        3627
STRADA                       2736
CELTA                        2717
SAVEIRO                      2679
S10                          2562
C3                           2545
KA                           2457
FOCUS                        2456
VOYAGE                       2286
FIT                          2137
JETTA                        2132
GOLF                         2115
DUSTER                       2110
CORSA                        2050
HILUX                        1969
SIENA                        1963
CLASSIC                      1881
CRUZE                        1875
207                          1815
PUNTO                        1791
TUCSON                       1766
RANGER                       1710
                             ...
230.6                           1
CORONA                          1
929                             1
SIERRA                          1
CL 600                          1
L300                            1
280Z                            1
KINGSWAY                        1
JUKE                            1
320 SL                          1
SLR                             1
STUDEBAKER                      1
OGGI                            1
C70                             1
GT 500                          1
SL 600                          1
V12 VANTAGE                     1
VITO                            1
CARAVELLE                       1
E 200                           1
828                             1
335                             1
CJ2A                            1
240 D                           1
VIPER                           1
LEXUS                           1
RX 330                          1
DAUPHINE                        1
CHEVY 500                       1
PICAPE START CABINE DUPLA       1
Name: modelo, dtype: int64

# Start grouping

In [233]:
data.columns

Index([u'FIPE_link', u'tipoc', u'carroceria', u'ano', u'tpag', u'preco',
       u'tipo', u'anomod', u'FIPE', u'download_date', u'FIPE_data', u'portas',
       u'combustivel', u'marca', u'link', u'comb', u'estado', u'cor',
       u'cidade', u'final_placa', u'km', u'cambio', u'idk', u'modelo',
       u'codigo', u'ativo'],
      dtype='object')

In [234]:
data = data.ix[data.estado=='Sao Paulo (SP)',:]

In [267]:
data['final_placa_2'] = 'outros'
data['final_placa_2'] = np.where(data['final_placa']==0,'sexta','outros')
data['final_placa_2'] = np.where(data['final_placa']==9,'sexta','outros')

In [268]:
d2 = data.groupby(['modelo','FIPE_link','final_placa_2']).mean()[['preco']].reset_index()

In [282]:
d3 = pd.pivot_table(d2, values='preco', index=['modelo','FIPE_link'], columns=['final_placa_2'], aggfunc=np.mean).reset_index()
d3['delta'] = d3.sexta - d3.outros

In [316]:
f = (~d3.outros.isnull()) & (~d3.sexta.isnull()) & (d3.sexta<200000)
d4 = d3.ix[f,:]
d4.shape

(3263, 5)

In [317]:
d4.delta.mean()

-1724.9753176455856

In [318]:
d4.delta.mean()/d2.preco.mean()

-0.022528541427312993